*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #191716;
    display:flex;
    font-family: 'Bebas Neue', cursive;
}
.sidebar{ 
    width: 20%;
    background-color: rgb(18, 19, 20);
    margin: 20px;
}
.sidebar .profil{
    width: 100%;
    text-align: center;
    background-color: rgb(228, 169, 7);
}
.sidebar .profil img{
    height: 80px;
    width: 80px;
    /*padding-top: 50px;*/
    margin-top: 30px;
    border-radius: 100px;
    

}
.sidebar .profil h1{
    margin-top: 15px;
}
.sidebar .profil h2{
    padding-bottom: 50px;
    color:brown;
}
.sidebar .infos{
    text-align: center;
    color:brown;
}

/*Main Section*/

.main-section{
    width: 70%;
}
.main-top{
    width: 100%;
    height: 350px;
    background-color: rgb(18, 19, 20);
    margin-top: 30px;
    display: flex;
}
.text-side{
    width: 50%;
    height: 100%;
    text-align: center;
    }
.text-side h1{
    margin-top: 15%;
    font-size: 50px;
    color: rgb(228, 169, 7);
}
.text-side h2{
    margin-top: 10px;
    font-size: 20px;
    color: azure;
}
.img-side{
}
.img-side img{
    height: 100%;
    margin-left: 30px;
}



.main-certificats{
    width: 100%;
    height: 300px;
    background-color: rgb(51, 51, 47);
}